# Google Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Session secret for JWT
SESSION_SECRET=dev-secret-E59JG085Zk26X82X5ZPD9

# Database and Redis configuration
DATABASE_URL=postgresql://siikli:testpassword@localhost:5432/siikli
REDIS_URL=redis://localhost:6381

ENVIRONMENT=localhost
NODE_ENV=development
PRIMARY_URL=http://localhost:5173

# PostHog configuration for frontend
VITE_PUBLIC_POSTHOG_KEY=
VITE_PUBLIC_POSTHOG_HOST=
