node_modules

# Keep environment variables out of version control
.env

# Keep sensitive Terraform files out of version control
*.tfvars
*.tfstate

# Terraform binary files
**/.terraform/*
backend/coverage/*

packages/shared/dist
