node_modules

# Keep environment variables out of version control
.env

# Keep sensitive Terraform files out of version control
*.tfvars
*.tfstate

# Terraform binary files
**/.terraform/*
backend/coverage/*
frontend/coverage/*
packages/shared/coverage/*

packages/shared/dist

debug_*.sh
pipeline_*.sh
