# === Auth ===
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET= # Used to sign session cookies

# === Database & Cache ===
DATABASE_URL= # Format: postgres://user:pass@host:5432/dbname
REDIS_URL=    # Format: redis://localhost:6379

# === App Environment ===
ENVIRONMENT=localhost # Options: localhost, staging, production
PRIMARY_URL=http://localhost:5173

# === Monitoring ===
SENTRY_DSN=

APP_URL=http://localhost:5173/
LANDING_URL=http://localhost:5173/