#root {
  width: 100%;
}

.pdf h2 {
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: 24px;
}

.pdf .border-bottom {
  border-bottom: 1px solid black;
}

.pdf .border-top {
  border-top: 1px solid black;
}

.pdf .align-center {
  text-align: center;
}

.pdf .align-right {
  text-align: right;
}

.pdf .title {
  font-weight: bold;
}

.pdf table {
  width: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }
  .pdf,
  .pdf * {
    visibility: visible;
  }
  .pdf {
    position: absolute;
    left: 0;
    top: 0;
  }
}
