#root {
  width: 100%;
}

.pdf h2 {
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-size: 20px;
}

.pdf .border-bottom {
  border-bottom: 1px solid black;
}

.pdf .border-top {
  border-top: 1px solid black;
}

.pdf .border-all {
  border: 1px solid black;
}

.pdf .align-left {
  text-align: left;
}

.pdf .align-center {
  text-align: center;
}

.pdf .align-right {
  text-align: right;
}

.pdf .title {
  font-weight: bold;
}

.pdf table {
  width: 100%;
}

.pdf .width-50 {
  width: 50%;
}

.pdf .width-30 {
  width: 30%;
}

.pdf .width-25 {
  width: 25%;
}

.pdf .width-20 {
  width: 20%;
}

.pdf .width-10 {
  width: 10%;
}

.pdf .page-number:before {
  counter-increment: page;
  content: counter(page);
}

@media print {
  @page {
    size: A5 portrait;
    margin: 10mm;
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
  }
  .pdf,
  .pdf * {
    visibility: visible;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px !important;
  }
  .pdf {
    position: absolute;
    left: 0;
    top: 0;
  }
}
